.layerSelect {
  position: absolute;
  right: 1rem;
  top: 1rem;
  overflow-y: scroll;
  border-radius: 8px;
  backdrop-filter: blur(25px);
  transition: width 0.15s cubic-bezier(0.22, 1, 1, 1), height 0.15s cubic-bezier(0.22, 1, 1, 1);
}

.layerSelect.light {
  color: #232323;
  background: hsl(0deg 0% 100% / 95%);
}

.layerSelect.dark {
  color: #dfdfdf;
  background: hsl(0deg 0% 10% / 90%);
}

.layerSelect > *:not(.handle){
  opacity: 0;

  transition: opacity 0s ease-out 0s;
}

.open {
  width: 20vw;
  height: calc(100vh - 2rem);
}

.open > *:not(.handle) {
  opacity: 1;
  transition: opacity 0.3s ease-out 0.15s;
}

.closed > *:not(.handle) {
  height: 0;
  padding: 0;
}

.closed {
  height: 3rem;
  width: 3rem;

  /* padding-top: 1rem; */
}

.closed:hover {
  width: 20vw;
}
.closed:hover .handle:before {
  opacity: 1;
}

.handle {
  text-align: center;
  cursor: pointer;

  transition: transform 0.15s ease-out, height 0.15s ease-out, color 0.15s ease-out;
  background: #2d2d2d;
  overflow: hidden;
  margin: 0;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.handle:before {
  content: "Layers";
  opacity: 0;
  transition: opacity 0.15s ease-out;
  white-space: nowrap;
  width: calc(100% - 3rem);
  display: block;
  color: #eee!important;
}

.handle.locked {
  color: var(--colours-purple-hint);
}

.open .handle:before{
  opacity: 1;
}
